.btn-filter {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    background-color: #392f6c;
    border-color: #392f6c;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.btn-filter span {
    color: white !important;
}

.btn-filter:hover {
    background-color: #4e0bb9;
    border-color: #4e0bb9;
    color: #fff;
}

.btn-filter:focus,
.btn-filter:active {
    background-color: #440aa0;
    border-color: #440aa0;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.5);
    /* focus shadow */
}

.p-dropdown-item {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.fixed-row-height .p-datatable-tbody>tr {
    height: 90px;
}

.fixed-row-height .p-datatable-tbody>tr>td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
    vertical-align: middle;
}

.custom-competitor-table .p-datatable-tbody td:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer;
}

.custom-competitor-table .p-datatable-tbody td {
    transition: background-color 0.2s ease-in-out;
}

.custom-competitor-table .p-datatable-tbody>tr>td,
.custom-competitor-table .p-datatable-thead>tr>th {
    padding: 0;
}

.custom-tooltip .p-tooltip {
    z-index: 9999 !important;
    position: absolute;
    top: -5px !important;
}

.info-icon {
    position: relative;
    z-index: 10;
}

.date-carousel {
    transition: transform 0.3s ease;
}

.matrix-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 120px;
    /* ensures all rows same height */
    padding: 4px;
    text-align: center;
}

/* Fixed image area */
.matrix-img-wrapper {
    height: 70px;
    /* SAME HEIGHT FOR ALL IMAGES */
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matrix-img {
    max-height: 70px;
    max-width: 70px;
    object-fit: contain;
    border-radius: 6px;
}

/* Text exactly 2 lines */
.matrix-text {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.2;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* LIMIT TO 2 LINES */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    min-height: 28px;
    /* forces 2-line space even if 1 word */
}