.btn-filter {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    background-color: #392f6c;
    border-color: #392f6c;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.btn-filter span {
    color: white !important;
}

.btn-filter:hover {
    background-color: #4e0bb9;
    border-color: #4e0bb9;
    color: #fff;
}

.btn-filter:focus,
.btn-filter:active {
    background-color: #440aa0;
    border-color: #440aa0;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.5);
    /* focus shadow */
}

.p-dropdown-item {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.fixed-row-height .p-datatable-tbody>tr {
    height: 90px;
}

.fixed-row-height .p-datatable-tbody>tr>td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
    vertical-align: middle;
}

.custom-competitor-table .p-datatable-tbody>tr:hover {
    background-color: transparent !important;
}

.custom-competitor-table .p-datatable-tbody td:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer;
}

.custom-competitor-table .p-datatable-tbody td {
    transition: background-color 0.2s ease-in-out;
}

.custom-tooltip .p-tooltip {
    z-index: 9999 !important;
    position: absolute;
    top: -5px !important;
}

.info-icon {
    position: relative;
    z-index: 10;
}