.custom-table .p-datatable-tbody>tr:hover {
    background-color: #ebebeb;
}

.custom-table .p-datatable-tbody>td {
    background-color: transparent !important;
}

.custom-tooltip .p-tooltip {
    z-index: 9999 !important;
    position: absolute;
    top: -5px !important;
}

.info-icon {
    position: relative;
    z-index: 10;
}

ul {
    padding-left: 0 !important;
}


.filter-wrapper {
    overflow: hidden;
    transition:
        max-height 1.0s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.25s ease,
        transform 0.25s ease;
    max-height: 0;
    opacity: 0;
    transform: translateY(-8px);
}

.filter-wrapper.open {
    max-height: 200px;
    /* enough to fit filters */
    opacity: 1;
    transform: translateY(0);
}

.filter-wrapper.closed {
    max-height: 0;
    opacity: 0;
    transform: translateY(-8px);
}