.custom-table .p-datatable-tbody>tr:hover {
    background-color: #ebebeb;
}

.custom-table .p-datatable-tbody>td {
    background-color: transparent !important;
}

.custom-tooltip .p-tooltip {
    z-index: 9999 !important;
    position: absolute;
    top: -5px !important;
}

.info-icon {
    position: relative;
    z-index: 10;
}

ul {
    padding-left: 0 !important;
}