@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.sidebar-model-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

.compass-text p {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  line-height: 27px;
}

.game_add_btn {
  padding: 15px 20px;
  background-color: #392f6c;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.game_add_btn:hover {
  padding: 15px 20px;
  background-color: #392f6c;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.compass-sidebar {
  width: 70% !important;
}

.compass-data h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  color: #222222;
  margin: 0;
}

.compass-data span {
  color: #8a92a6;
  font-size: 14px;
  font-weight: 400;
}

.compass-data .compass-data-border {
  border: 1px solid #cccee5;
  margin-top: 8px;
}

.compass-data .compass-right-icon {
  gap: 20px;
  display: flex;
}

.compass-data .calibrate-dropdown {
  display: flex;
  gap: 20px;
}

.compass-data .compass-search {
  padding: 10px;
  background-color: #ebecf4;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  cursor: pointer;
  border-radius: 4px;
  width: 45px;
  height: 45px;
}

.offcanvas-header {
  padding: 1rem 1rem !important;
  border-bottom: 1px solid #dee2e6 !important;
  background-color: #ebecf4 !important;
}

.btn-close {
  font-size: 14px;
}

.sidebar-model-heading {
  margin: 0;
}

.selected {
  border: none;
}

.offcanvas-footer {
  padding: 10px 1rem;
  border-top: 1px solid #dee2e6;
  background-color: #ebecf4;
  margin: 0;
}

.compass-data-table .table {
  border: 1px solid #cccee5;
  border-radius: 10px;
}

.compass-data-table th {
  background: #ebecf4 !important;
  border: none;
  color: #222222;
  border-top: 1px solid #cccee5 !important;
}

.compass-data-table th:first-child {
  border-left: 1px solid #cccee5 !important;
}

.compass-data-table th:last-child {
  border-right: 1px solid #cccee5 !important;
}

.table-heading-name th {
  font-weight: 600;
}

input[type="checkbox"] {
  accent-color: #392f6c;
  cursor: pointer;
}

.table-body-items input[type="checkbox"] {
  accent-color: #392f6c;
  cursor: pointer;
}

.compass-data-table td {
  border: none;
  transition: 0.1s ease-in-out;
}

.compass-sidebar-back {
  padding: 8px 50px;
  border: 1px solid #392f6c;
  font-size: 14px;
  color: #392f6c;
  transition: all 0.5s ease-in-out;
  margin-right: 15px;
  border-radius: 5px;
  background: transparent;
}

.compass-sidebar-back:hover {
  background-color: #392f6c;
  color: #fff;
  font-size: 14px;
}

.compass-sidebar-next {
  padding: 8px 50px;
  border: 1px solid #392f6c;
  font-size: 14px;
  background-color: #392f6c;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.compass-sidebar-next:hover {
  background: transparent;
  color: #392f6c;
  font-size: 14px;
}

.compass-data-table td {
  vertical-align: middle;
  border-top: none;
}

.table-body-items .table-body-items-table:hover td {
  background-color: #f5f5f5 !important;
}

.table-body-items p {
  font-weight: 600;
}

.table-body-items a {
  text-decoration: none;
  color: #8a91a6;
}

.table-body-items .tracking-time {
  color: #8a91a6;
}

.table-body-items .credits {
  color: #8a91a6;
}

.action-btn {
  width: 20px;
  height: 20px;
  display: inline-block !important;
  background-color: red !important;
  border-radius: 50% !important;
  margin: auto;
  line-height: 20px;
}

.select-casino-game-body {
  padding: 30px !important;
}

.calibrate-casino-data-display {
  padding: 0 10px;
  border: 1px solid #cccee5;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.calibrate-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #222222;
  border: 1px solid #cccee5;
  padding: 14px;
  border-radius: 5px;
}

.calibrate-content {
  text-align: center;
  cursor: pointer;
}

.calibrate-icon {
  font-size: 30px;
}

.calibrate-content p {
  color: #8a92a6;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.selected {
  border-color: #8a92a6;
}

/* Casino Selected Styles */
.casino-sidebar {
  width: 40% !important;
}

.casino-body {
  padding: 11px;
}

.serching {
  padding: 10px;
}

.search-bar .search-casino-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
}

.search-bar::placeholder {
  color: #adb5bd;
  opacity: 1;
}

.casino-search-icon {
  position: absolute;
  top: 21px;
  right: 21px;
}

.no-search-result span {
  color: #8a92a6;
  font-size: 14px;
  font-weight: 400;
}

.request-demo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.request-demo svg {
  font-size: 25px;
}

.request-demo span {
  color: #222222;
}

.line {
  border: 1px solid #cccee5;
}

.casino-data-display {
  padding: 0 18px;
  border: 1px solid #cccee5;
  display: flex;
  align-items: center;
}

.casino-data-bar {
  display: inline-grid;
  padding: 10px;
  margin-left: 6px;
}

.casino-data-bar a {
  text-decoration: none;
}

.game-data-bar span {
  color: #8a92a6;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.casino-checkbox {
  width: 18px;
  height: 18px;
}

.casino-data-display
  input[type="checkbox"]:checked
  + .casino-data-bar
  label:before {
  background-color: #8a92a6;
}

.casedata-no-data-search {
  padding: 10px;
}

/* request new casino */
.casino-input-field .form-group {
  position: relative;
  margin-bottom: 20px;
}

.casino-input-field .form-group label {
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 13px;
}

.casino-input-field .form-group .form-control {
  border: 1px solid #adb5bd;
  padding: 13px 15px;
}

.casino-input-field .form-group .form-control:focus {
  box-shadow: none;
}

.casino-input-field .form-group .form-control:focus-visible {
  border: 1px solid #dc9b00;
}

.url-preview img {
  border-radius: 10px;
}

.new-request-casino-btn {
  padding: 8px 50px;
  border: 1px solid #392f6c;
  font-size: 14px;
  background-color: #392f6c;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  opacity: 0.5;
  pointer-events: none;
}

.new-request-casino-btn:hover {
  background: transparent;
  color: #392f6c;
  font-size: 14px;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.custom-pagination .page-link {
  background: none !important;
  border: none !important;
}

.custom-pagination .page-link:hover {
  color: #57549c !important;
}

.custom-pagination .disabled span {
  color: #57549c !important;
}

.custom-pagination-item .page-item span {
  color: #57549c !important;
}

.custom-pagination .page-item a {
  background: none !important;
  border: none !important;
}

.custom-pagination-item {
  margin: 0 5px;
}

.custom-pagination-item.active .page-link {
  background-color: #392f6c !important;
  border-radius: 4px;
  padding: 6px 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.custom-pagination-item.active .page-link:hover {
  color: #fff !important;
}

.custom-pagination-item .page-link:focus {
  box-shadow: none !important;
}

.custom-pagination-item a {
  color: #57549c;
  font-weight: 500;
}

.custom-pagination-item a:hover {
  text-decoration: none;
}

.custom-pagination-item.disabled a {
  pointer-events: none;
  color: #6c757d;
}

.custom-pagination-item.disabled a:hover {
  cursor: not-allowed;
}

.pagination-navigation {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.pagination-navigation span {
  margin: 0 5px;
}

.pagination_per_select .Dropdown-root {
  width: 60px;
}

.pagination_per_select .Dropdown-control {
  padding: 8px 10px;
}

.page-item .page-link {
  box-shadow: none;
}

.page-item .page-link span {
  color: #57549c !important;
  font-size: 16px !important;
  font-weight: 500;
  cursor: pointer;
}

.page-item .page-link svg {
  font-size: 20px;
}

/* New Game Demo Model CSS here */
.Tracking-game-model h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.Tracking-game-model-content h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.Tracking-game-model-content span {
  font-size: 14px;
  font-weight: 400;
  color: #8a92a6;
}

.tracking-game-time {
  padding-top: 40px;
}

.tracking-game-time h5 {
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 20px;
}

.tracking-game-time .Dropdown-root {
  width: 90% !important;
}

.tracking-game-time .Dropdown-placeholder {
  color: #222222;
  font-size: 16px;
}

.track_game_table th,
.track_game_table td {
  padding: 10px 20px;
}

.tracking_gaming_date {
  margin-bottom: 35px;
}

.badge {
  background-color: #faf3e8 !important;
  color: #dc9b00 !important;
}

.tracking-game-credit .react-datepicker-wrapper {
  width: 90%;
}

.tracking-game-credit .react-datepicker__view-calendar-icon input {
  padding: 6px 12px !important;
  border-radius: 6px;
  color: #222222;
  border: 1px solid #adb5bd;
}

.tracking-game-credit
  .react-datepicker__view-calendar-icon
  input:focus-visible {
  outline: none;
}

.tracking-game-credit
  .react-datepicker__input-container
  .react-datepicker__calendar-icon {
  right: 10px;
  padding: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.tracking-game-time .tracking_time_dropdown label {
  color: #222222;
  font-weight: 600;
  font-size: 18px;
}

.tracking-game-time .credit-field label {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.Tracking-game-model-content .track_game_table {
  width: 100%;
  overflow: hidden;
}

.tracking-game-time .credit-field .form-control:disabled {
  border-color: #adb5bd;
  background-color: rgb(34 34 34 / 12%);
  color: rgb(34 34 34 / 50%);
}

.table-scroll-container {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  border: 1px solid #adb5bd;
  border-top: 0;
}

.table-scroll-container::-webkit-scrollbar {
  width: 6px;
  border: none;
}

.table-scroll-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.table-scroll-container::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 20px;
  height: 59px;
}

.table-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-scroll-container table {
  width: 100%;
}

.track_game_table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.track_game_table th,
.track_game_table td {
  padding: 10px 20px;
}

.offcanvas-backdrop.show {
  background-color: rgb(0 0 0) !important;
}

.casino-sidebar .new_casino_add .form-control:focus {
  outline: none;
  box-shadow: none;
}

.ant-drawer-open {
  z-index: 9999 !important;
}

.ant-drawer-content-wrapper {
  /* transform: none !important; */
}

.ant-drawer-close {
  width: 0 !important;
  margin-inline-end: 0 !important;
  padding: 0 !important;
}

.custom-close-icon {
  position: absolute;
  right: 15px;
}

.choose_casino_drawer .ant-drawer-body {
  padding: 0 !important;
}

.ant-drawer-header {
  background-color: #ebecf4 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.ant-drawer-footer {
  background-color: #ebecf4 !important;
  border-top: 1px solid #dee2e6 !important;
}

/* GAME TRACKING ROUTE STYLES */

.tracker-details {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #cccee5;
  border-radius: 5px;
}

.tracker-details-head h5 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.tracker-details-body .tracker-details-table .p-datatable-table {
  border: 1px solid #cccee5;
}

.tracker-details-body .tracker-details-table .p-datatable-table th {
  background-color: #ebecf4 !important;
}

.tracker-details-table {
  font-family: "Poppins", sans-serif !important;
}

.tracker-details-table .p-datatable-header {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.tracker-details-body .p-datatable .p-datatable-tbody > tr > td {
  border-bottom: 1px solid #cccee5;
}

.tracker-details-table .p-paginator-bottom {
  border: none !important;
}

.trend-details-badge {
  padding: 5px 10px;
  background: #edf5f0;
  border-radius: 5px;
  color: #35986b;
  font-weight: 600;
}

/* DETAILS PAGE OF GAME TRACKING */

.tracker_details_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 25px;
}

.tracker-details .position-view-box {
  background-color: #fdf7ea;
  padding: 15px 15px 25px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 194, 70, 1) 35%,
    rgba(153, 116, 42, 1) 100%
  );
  border-image-slice: 1;
}

.tracker-details .position-view-box .position-view-box-head h5 {
  font-weight: 500;
  font-size: 18px;
  color: #c58503;
}

.tracker-details .position-view-box .position-view-box-head h4 {
  font-weight: 600;
  font-size: 20px;
  color: #222222;
}

.tracker-details .position-view-box .position-view-box-head span {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  margin-left: 7px;
}

.tracker-details .position-view-box .position-view-box-bottom h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.tracker-details .position-view-box .position-view-box-bottom span {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.tracker-details .position-view-box .row .col-md-4 {
  border-right: 1px solid #cccee5;
}

.tracker-details .position-view-box .row .col-md-4:last-child {
  border: none !important;
}

.tracker-details .best_position_box {
  background: linear-gradient(
    90deg,
    rgba(84, 112, 222, 8%) 35%,
    rgba(84, 112, 222, 12%) 100%
  ) !important;
  border-image: linear-gradient(
    90deg,
    rgb(84, 112, 222) 35%,
    rgb(15, 64, 255) 100%
  ) !important;
  border-image-slice: 1 !important;
}

.tracker-details .best_position_box h5 {
  color: #1634a9 !important;
}

.tracker-details .worst_position_box {
  background: linear-gradient(
    90deg,
    rgba(7, 190, 170, 8%) 35%,
    rgba(7, 190, 170, 12%) 100%
  ) !important;
  border-image: linear-gradient(
    90deg,
    rgb(7, 190, 170) 35%,
    rgb(6, 135, 121) 100%
  ) !important;
  border-image-slice: 1 !important;
}

.tracker-details .worst_position_box h5 {
  color: #09ab9a !important;
}

/* FOR DASHBOARD TABLE ABVOE SECTION */

.game-track-box {
  border: 1px solid #cfd6d9 !important;
  background: none !important;
}

.game-track-box .game-track-box-chart h6 {
  margin: 0;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.game-track-box .game-track-box-chart p {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #178eff;
}

.game-track-box .game-track-box-chart h4 {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #222222 !important;
}

/* Game casino track chart styles */

.position-view-box .recharts-wrapper {
  width: 100% !important;
  height: 200px !important;
}

.tracker-details-table
  .p-paginator
  .p-paginator-pages
  .p-paginator-page.p-highlight {
  background: #392f6c;
  color: #fff;
  border: none !important;
}
