.profile_box_title {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.profile_box_title h3 {
    margin: 0;
    margin-right: 15px;
    font-size: 18px;
    color: #222222;
    font-weight: 600;
}

.profile_box_title span {
    color: #222222;
    font-size: 24px;
    cursor: pointer;
}

.profile_box {
    margin-bottom: 30px;
}

.profile_box:last-child {
    margin: 0;
}

.profile_box .form-group {
    margin-bottom: 15px;
    position: relative;
}

.profile_box .form-group label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #ADB5BD;
    font-weight: 400;
    z-index: 1;
}

.profile_box .form-group .form-control {
    border: 1px solid #ADB5BD;
    padding: 13px 15px;
}

.profile_box .form-group .form-control::placeholder {
    font-size: 13px;
    opacity: 1;
}

.profile_box .form-group input {
    color: #222222;
}

.profile_box .form-group .form-control:focus {
    box-shadow: none;
}

.profile_box .form-group .form-control:focus-visible {
    border: 1px solid #ADB5BD;
}

.profile_box .form-group .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    transition: all 200ms ease;
    border: none !important;
    padding: 0 !important;
    cursor: pointer;
}

.profile_box .form-group .Dropdown-placeholder {
    color: #646d75;
    font-size: 13.5px;
    opacity: 1;
    line-height: 24px;
}

.profile_box .form-group .Dropdown-placeholder:focus-visible {
    outline: none !important;
    background-color: none !important;
}

.profile_box .form-group .is-selected {
    color: #000 !important;
    font-size: 15px;
}

.profile_box .form-group .Dropdown-menu {
    left: 0 !important;
}

.profile_box .form-group .Dropdown-control:hover {
    box-shadow: none !important;
}

.profile_box .form-group .Dropdown-arrow-wrapper {
    display: none;
}

.profile_box .form-group .Dropdown-option {
    color: #000 !important;
}

.form-group .is-open .Dropdown-control {
    background: none !important
}

.form-group .profile_calender_icon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #242424;
    transform: translate(0, -50%);
    cursor: pointer;
}

.date-pick .react-datepicker-wrapper {
    width: 100%;
}

.date-pick .react-datepicker-popper {
    z-index: 9 !important;
}

.date-pick .ant-picker-input input::placeholder {
    color: #646d75 !important;
}

.profile_box .form-group .phone_verify_btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: #35986B;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}

.profile_box .form-group .email_verify_btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: #178EFF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


/* FOR PROFILE MENU DRAWER */
.profile_menu_drawer .ant-drawer-header {
    position: relative;
}

.profile_menu_drawer .ant-drawer-close {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}




.ant-picker-dropdown {
    z-index: 9999 !important;
}