@import "../variables.scss";

.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: $sidebarColor;
  .nav-link {
    color: #fff;
    font-weight: 500;
  }
  .sidenav-bg:hover {
    background-color: #fff;
    border-radius: $border-radius;
    .nav-link {
      color: #392F6C;
      font-weight: 500;
    }
  }
  .sidenav-bg .active {
    background-color: #FFFFFF;
    border-radius: $border-radius;
    color: #392F6C;
  }
}

